{% extends 'layout.html' %}

{% block content %}

<h1> {{ scene_name }} </h1>
<pre>
{{ scene.description }}
</pre>

{% if scene.name in 'ending' %}
    <p><a href='/'>Play Again?</a></p>

{% elif 'next_col' in scene.choices %}
   <a href="/chartreuse">
    <button>Continue</button>
   </a>

{% elif 'next' in scene.choices %}
    <a href="/next" >
        <button>Continue</button>
      </a>


{% elif 'back' in scene.choices %}
<a href="/back" >
    <button>Try again?</button>
  </a>

{% elif 'crash' in scene.name %}
    <p><a href='/'>Reload the game</a></p>

{% else %}
    <p>
        <form action="game" method="POST">
            <input type="text" name="action" type="SUBMIT">
        </form>
    </p>

{% endif %}

{% endblock %}