{% extends 'layout.html' %}

{% block content %}

<h1> {{ scene_name }} </h1>
<pre>
{{ scene.description }}
</pre>

{% if scene.name in 'ending' %}
    <p><a href='/'>Play Again?</a></p>

{% elif 'next' in scene.choices %}
   <!--<p>
        <button id="nextbutton">Continue</button>
    </p>
    <script>
        document.getElementById("nextbutton").onclick = function () { 
            document.getElementById("nextbutton").return("next")};
    </script>-->
    <input type="button" onclick=next_scene() value="Continue">

{% elif 'back' in scene.choices %}
    <p>
        <form action="game" method="POST">
            <input type="button" name="action" onclick="back" value="Try again?">
        </form>
    </p>

{% elif 'crash' in scene.name %}
    <p><a href='/'>Reload the game</a></p>

{% else %}
    <p>
        <form action="game" method="POST">
            <input type="text" name="action" type="SUBMIT">
        </form>
    </p>

{% endif %}

{% endblock %}